body {
  background-color: #fafafa;
  font-size: 14px;
  color: #262626;
}

.logo-img {
  background-image: image-url("logo.png");
  background-repeat: no-repeat;
  height: 56px;
  width: 180px;
  background-size: 160px;
  background-size: 180px!important;
}

.form-wrap{
  padding:20px 20px;
  margin:20px 0px;
}

.copyright {
  margin-top: 70px;
}

